<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Add Post"%>
  </div>



<% end %>
